.sectionOne {
  max-width: 1440px;
  color: var(--primary-color);
  position: relative;
}

.sectionOne__introduction__title {
  padding-top: 10px;
  font-size: 40px;
}

.sectionOne__introduction__subtitle {
  font-size: 20px;
}
