.sectionOne {
  max-width: 1440px;
}

.sec-1-title,
.sec-1-subtitle {
  color: #7e46ff;
}

.introduction h2 {
  padding-top: 20px;
  font-size: 40px;
}

.introduction p {
  font-size: 20px;
}

.side-img-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ending-para p {
  text-align: justify;
  text-justify: inter-word;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
