.heroCard {
  display: flex;
  height: 400px;
  border: 0;
  border-radius: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
}

.heroCard__image {
  height: 100%;
  width: 60%;
  border-radius: 0 10px 10px 0;
  position: absolute;
  right: 0;
}

.heroCard__body {
  width: 40%;
  height: 30%;
}

.heroCard__articleTitle {
  font-size: 18px;
  width: 100%;
  margin: auto;
}

.heroCard__articleContent {
  text-align: justify;
  font-size: 14px;
  margin-top: 20px;
}

.heroCard__button {
  position: absolute;
  left: 12%;
  bottom: 10px;
  border-radius: 20px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 12px;
  border: none;
}

.heroCard__button:hover {
  background-color: var(--secondary-color) !important;
}
