.navbar-bg {
  background-color: #601bff;
}

.navBar {
 margin-left: auto;
}

.nav-item {
  text-decoration: none;
  color: var(--white-color);
  padding: 10px;
  font-size: 16px;
}

.nav-item:hover:not(.active) {
  color: var(--white-color);
  font-weight: bold;
}

.active {
  color: var(--white-color);
  font-weight: bolder;
}

.active:hover {
  color: white;
}

.news_logo {
  width: 35px;
  height: 35px;
}
.websiteTitle {
  color: var(--white-color);
  padding: 10px;
}
