.navBar {
 margin-left: auto;
}
.nav-item {
  text-decoration: none;
  color: var(--white-color);
  padding: 10px;
  font-size: 14px;
}

.nav-item:hover:not(.active) {
  color: var(--white-color);
  font-weight: bold;
}

.active {
  color: var(--white-color);
  font-weight: bolder;
}

.news_logo {
  width: 45px;
  height: 45px;
}
.websiteTitle {
  color: var(--white-color);
  padding: 10px;
}
