.navbar {
  background-color: var(--primary-color);
  max-width: 1440px;
  margin: 0 auto;
}

.navbar__link {
  text-decoration: none;
  color: var(--white-color);
  padding: 10px;
  font-size: 16px;
}

.navbar__link:hover:not(.active) {
  color: var(--white-color);
  font-weight: bold;
}

.active {
  color: var(--white-color);
  font-weight: bolder;
}

.active:hover {
  color: white;
}

.news_logo {
  width: 35px;
  height: 35px;
}
.websiteTitle {
  color: var(--white-color);
  padding: 10px;
}

.navbarToggle {
  color: var(--white-color);
  border: none;
}

.navbar__nav {
  margin-left: auto;
}

.navbar-toggler-icon {
  background-image: url("../../assets/images/hamburger\ button.jpg");
}
