.articleCard {
  height: 400px;
  border: 0;
  border-radius: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
}

.articleCard__image {
  width: 100%;
  border-radius: 0;
  border-radius: 10px 10px 0 0;
  min-height: 45%;
  max-height: 45%;
}

.articleCard__title {
  font-size: 14px;
  width: 90%;
  margin: auto;
}

.articleCard__content {
  text-align: justify;
  font-size: 12px;
  margin-top: 20px;
}

.articleCard__button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 5px;
  border-radius: 20px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 12px;
  border: none;
}

.articleCard__button:focus {
  background-color: var(--secondary-color);
}

.articleCard__button:hover {
  background-color: var(--secondary-color) !important;
}

@media screen and (max-width: 768px) {
  .articleCard__image {
    height: 60%;
  }
}
