.footer {
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 50px;
  margin-top: 2rem;
  color: var(--white-color);
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto !important;
}

.footer-col {
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer-col-title {
  text-align: center;
}

.footer-col-contributor {
  display: flex;
  justify-content: space-between;
}

.link-format {
  text-align: center;
  color: var(--white-color);
  text-decoration: none;
}

.link-format:hover {
  color: var(--white-color);
  font-weight: bolder;
}

.icons {
  padding: 0px 4px;
}

#app-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.website-title {
  font-size: 20px;
  font-weight: bolder;
}

.footer-col-support {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin_top {
  margin-top: 16px;
}

.copyRights {
  display: flex;
  flex-direction: row;
  justify-content: center;
}