.sectionTwo {
  max-width: 1440px;
}

.sectionTwo__subtitle {
  color: var(--primary-color);
  text-align: center;
}

.imageGroup {
  background-color: var(--black-color);
  height: 120vh;
}

.btn-col {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn-col Button {
  margin: 16px 0px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.imageGroup__img {
  width: 100%;
  opacity: 0.7;
}

.imageGroup__img:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .imageGroup {
    height: auto;
  }
}
